<form method = "POST" action = "{{url_for('admin.create_user')}}"> 
    <div class = "card"> 
        <div class = "row">
            <div class = "column">
                <span class = "label">first Name: </span> 
                <input type = "text" name = "username" class = "input" required> 
            </div> 
            <div class = "column"> 
                <span class = "label">Last Name: </span> 
                <input type = "text" name = "userlastname" class = "input" required> 
            </div>
            <div class = "column"> 
                <span class = "label">Email: </span> 
                <input type = "text" name = "email" class = "input"> 
            </div>
            <div class = "column"> 
                <span class = "label">Password: </span> 
                <input type = "text" name = "password" class = "input"> 
            </div>
            <div class="column">
                <span class = "label">Phone Number: </span> 
                <input type = "text" name ="phone" class = "input"> 
            </div>
        </div>
        <div class="button-container">
            <button type="submit">Add User</button>
        </div>
    </div>
</form>