<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

    <header>
  <div class="top container">

    <a href="{{ url_for('user_hp.homepage', user_id=user_id) }}">
      <h3>Home</h3>
    </a>

    <a href="{{ url_for('order.order') }}">
      <h3>Order</h3>
    </a>

    <a href="{{ url_for('auth.logout') }}">
      <button class="logout-btn" type="button">Log out</button>
    </a>

  </div>
</header>

<form method="POST" action="{{ url_for('user_hp.homepage', user_id=user_id) }}">
 
    <button type = "submit">Order now</button>
</form> 

</html>