<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Flask static CSS -->
   <link rel="stylesheet" href="{{ url_for('static', filename='styleLogin.css') }}">


    <title>Login</title>
</head>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, msg in messages %}
      <div class="flash {{ category }}">{{ msg }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<body>

<form method="POST" action="{{ url_for('auth.login') }}">
    <div class="login-box">

        <div class="login-header">
            <header>Login</header>
        </div>

        <div class="input-box">
            <input 
                type="email"
                name="email"
                class="input-field"
                placeholder="Email"
                autocomplete="off"
                required>
        </div>

        <div class="input-box">
            <input 
                type="password"
                name="password"
                class="input-field"
                placeholder="Password"
                required>
        </div>
        <div class="input-submit">
            <button class="submit-btn" type="submit">Sign In</button>
        </div>

        <div class="sign-up-link">
            <p>Don't have an account?
                <a href="{{ url_for('auth.signup') }}">Sign Up</a>
            </p>
        </div>

    </div>
</form>

</body>
</html>
